#grid {
    display: grid;
    grid-template-rows: 124px 124px 124px 124px 124px;
    grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
    grid-gap: 10px;
    padding: 10px;
}

.item {
    background-color: green;
    color: white;
    font-size: 48px;
    padding: 20px;
    box-sizing: border-box;
}
